.block {
  height: 100px;
  width: 100px;
  // background-color: blue;
  display: inline-block;
  // border: 8px dashed blue;
  // background: radial-gradient(#fff 60%, #0e1dc7 61%);

  border-radius: 50%;
}
